body{
    height: 100%;
    width: 100%;
}
*{
   padding: auto; 
   margin: auto;
   background-color: #000;
   color: #fff;
   align: center;
}
.form{
    width: 60%;
    height: 80vh;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 5%;
    padding: 10px;
}
.input{
    width: 90%;
    margin: 10px;
    border-bottom: 3px solid #fff;
    margin-left: 30px;
}
h1{
    font-size: 50px;
    font-weight: 50px;
    margin-bottom: 10px;
    margin: 15px;
    font-family: sans-serif;
    margin-left: 30px;
}
.btn{
    display: flex;
    width: 11%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fff;
    color: #000;
    padding: 5px 5px 5px 18px;
    font-size: large;
    cursor: pointer;
}
input{
    border: #fff;
    font-size: large;    
}
.radio{
    flex-direction: row;
    margin: 10px;    
    margin-left: 15px;
}